<link rel="stylesheet" href="/css/form.css">

<h1>{{title}}</h1>

<div class = "operationPicker">{{>operationPicker}}</div>

<div id="createForm" style="display: none;">
    <h2>Create Action</h2>
    <form method="POST" action="actions/create">
        <label for="action_type">Action:</label>
        <select id="action_type" name="action_type" required>
            {{#each pickerOptions.actionTypesPickerOptions}}
                <option value={{@key}}>{{this}}</option>
            {{/each}}
        </select>
        <label for="action_date">Date:</label>
        <input type="date" id="action_date" name="action_date" required>
        <label for="plants_plant_id">Plant:</label>
        <select id="plants_plant_id" name="plants_plant_id" required>
            {{#each pickerOptions.plantPickerOptions}}
                <option value={{@key}}>{{this}}</option>
            {{/each}}
        </select>
        <button type="submit">Create</button>
    </form>
</div>

<div id="updateForm" style="display: none;">
    <!-- Update Entry Form -->
    <h2>Update Action</h2>
    <form method="POST" action="actions/update">
        <select id="action_id_select" name="action_id" required>
            <option disabled selected value> Action ID</option>
            {{#each entries}}
                {{#if this.action_id}}
                    <option value="{{this.action_id}}">{{this.action_id}}</option>
                {{/if}}
            {{/each}}
        </select>
        <label for="action_type">Action:</label>
        <select id="action_type" name="action_type" required>
            {{#each pickerOptions.actionTypesPickerOptions}}
                {{#if this}}
                    <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <label for="action_date">Date:</label>
        <input type="date" id="action_date" name="action_date" required>
        <label for="plants_plant_id">Plant:</label>
        <select id="plants_plant_id" name="plants_plant_id" required>
            {{#each pickerOptions.plantPickerOptions}}
                {{#if this}}
                    <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Update</button>
        </select>
    </form>
</div>

    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Date</th>
            <th>Plant</th>
        </tr>
    </thead>
    <tbody>
        {{#each entries}}
        {{#if this.action_id}}
        <tr>
            <td>{{this.action_id}}</td>
            <td>{{lookup @root.pickerOptions.actionTypesPickerOptions this.action_type}}</td>
            <td>{{formatDate this.action_date}}</td>
            <td>{{lookup @root.pickerOptions.plantPickerOptions this.plants_plant_id}}</td>
            <td>
                <form method="POST" action="actions/delete">
                    <input style="display: none;" type="number" name="deleteId" value={{this.action_id}}>
                    <button type="submit" class="submitButton">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
    </table>
    