<link rel="stylesheet" href="/css/form.css">

  <label for="operation">Select Operation:</label>
  <select id="operation" onchange="toggleForm()">
    <option disabled selected value> select an option </option>
    <option value="create">Create</option>
    <option value="update">Update</option>
  </select>

  <div id="createForm" style="display: none;">
    <!-- Create Entry Form -->
    <h2>Create Action Type</h2>
    <form method="POST" action="action_types/create">
        <label for="action_type_name">Name:</label>
        <input type="text" id="action_type_name" name="name" required>
        <button type="submit">Create</button>
    </form>
  </div>

  <div id="updateForm" style="display: none;">
    <!-- Update Entry Form -->
    <h2>Update Action Type</h2>
    <form method="POST" action="action_types/update">
        <label for="action_type_id">ID:</label>
        <select id="action_type_id_select" name="action_type_id" required>
            <option disabled selected value>Action Type ID</option>
            {{#each entries}}
            {{#if this.action_type_id}}
            <option value="{{this.action_type_id}}">{{this.action_type_id}}</option>
            {{/if}}
            {{/each}}
        </select>
        <label for="action_type_name">Name:</label>
        <input type="text" id="action_type_name" name="name">
      <button type="submit">Update</button>
    </form>
  </div>

  <table id="action_types_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Action Type</th>
            </tr>
        </thead>
        <tbody>
            {{#each entries}}
            {{#if this.action_type_id}}
            <tr data-value={{this.action_type_id}}>
                <td>{{this.action_type_id}}</td>
                <td>{{this.name}}</td>
                 <td>
                    <form method="POST" action="action_types/delete">
                        <input style="display: none;" type="number" name="deleteId" value = {{this.action_type_id}}>
                        <button type = "submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
</table>
<script>
    function toggleForm() {
        const operation = document.getElementById('operation').value;
        document.getElementById('createForm').style.display = operation === 'create' ? 'block' : 'none';
        document.getElementById('updateForm').style.display = operation === 'update' ? 'block' : 'none';
        document.getElementById('deleteForm').style.display = operation === 'delete' ? 'block' : 'none';
    }
</script>
