<link rel="stylesheet" href="/css/form.css">

  <label for="operation">Select Operation:</label>
  <select id="operation" onchange="toggleForm()">
    <option disabled selected value> select an option </option>
    <option value="create">Create</option>
    <option value="update">Update</option>
    <option value="delete">Delete</option>
  </select>

  <div id="createForm" style="display: none;">
    <!-- Create Entry Form -->
    <h2>Create Entry</h2>
    <form method="POST" action="{{pageName}}/create">
      <!-- create a form field for each entry. If null, empty text field. Otherwise, dropdown menu with each of `value`s as an option -->
      <!-- loops over object -->
      {{#each entries.[0]}}
        <label for="{{@key}}">{{@key}}:</label>
        <!-- Values of keys are referred to as `this` for some reason -->
        <!-- Iterate over it if it exists to create a dropdown menu -->
        {{#if this }}
          <select name="{{@key}}" id="{{@key}}">
            {{#each this}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        {{else}}
          <input type="text" id="{{@key}}" name="{{@key}}" placeholder="{{@key}}">
        {{/if}}
      {{/each}}
      <button type="submit">Create</button>
    </form>
  </div>

  <div id="updateForm" style="display: none;">
    <!-- Update Entry Form -->
    <h2>Update Entry</h2>
    <form method="POST" action="{{pageName}}/update">
      <!-- create a form field for each entry. If null, empty text field. Otherwise, dropdown menu with each of `value`s as an option -->
      <!-- loops over object -->
      {{#each entries.[0]}}
        <label for="{{@key}}">{{@key}}:</label>
        <!-- Values of keys are referred to as `this` for some reason -->
        <!-- Iterate over it if it exists to create a dropdown menu -->
        {{#if this }}
          <select name="{{@key}}" id="{{@key}}">
            {{#each this}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        {{else}}
          <input type="text" id="{{@key}}" name="{{@key}}" placeholder="{{@key}}">
        {{/if}}
      {{/each}}
      <button type="submit">Update</button>
    </form>
  </div>

  <div id="deleteForm" style="display: none;">
    <!-- Delete Entry Form -->
    <h2>Delete Entry</h2>
    <form method="POST" action="{{pageName}}/delete">
      <label for="deleteId">ID:</label>
      <input type="number" id="deleteId" name="deleteId">
      <button type="submit">Delete</button>
    </form>
  </div>

<table>
  <thead>
    <tr>
      <!-- Get column name -->
      {{#each entries.[0]}}
        <th>{{@key}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each entries as |item index|}}
    <!-- Skip first (0th) index because it's the header info -->
    {{#if index}}
      <tr>
        {{#each item as |value|}}
          <td>{{value}}</td>
        {{/each}}
      </tr>
        {{/if}}
    {{/each}}
  </tbody>
</table>
<script>
    function toggleForm() {
        const operation = document.getElementById('operation').value;
        document.getElementById('createForm').style.display = operation === 'create' ? 'block' : 'none';
        document.getElementById('updateForm').style.display = operation === 'update' ? 'block' : 'none';
        document.getElementById('deleteForm').style.display = operation === 'delete' ? 'block' : 'none';
    }
</script>
