<link rel="stylesheet" href="/css/form.css">

    <h1>{{title}}</h1>

    <div class = "operationPicker">{{>operationPicker}}</div>

  <div id="createForm" style="display: none;">
    <!-- Create Entry Form -->
    <h2>Create Light Category</h2>
    <form method="POST" action="light_categories/create">
        <label for="light_category_name">Name:</label>
        <input type="text" id="light_category_name" name="name" required>
        <button type="submit">Create</button>
    </form>
  </div>

  <div id="updateForm" style="display: none;">
    <!-- Update Entry Form -->
    <h2>Update Light Category</h2>
    <form method="POST" action="light_categories/update">
        <label for="category_id">ID:</label>
        <select id="category_id" name="category_id" required>
            <option disabled selected value>Light Category ID</option>
            {{#each entries}}
            {{#if this.category_id}}
            <option value="{{this.category_id}}">{{this.category_id}}</option>
            {{/if}}
            {{/each}}
        </select>
        <label for="light_category_name">Name:</label>
        <input type="text" id="light_category_name" name="name" required>
      <button type="submit">Update</button>
    </form>
  </div>

  <table id="light_categories_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Light Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each entries}}
            {{#if this.category_id}}
            <tr data-value={{this.category_id}}>
                <td>{{this.category_id}}</td>
                <td>{{this.name}}</td>
                <td>
                    <form method="POST" action="light_categories/delete">
                        <input style="display: none;" type="number" name="deleteId" value = {{this.category_id}} required>
                        <button type="submit" class="submitButton">Delete</button>
                    </form>
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
</table>



