<h1>{{title}}</h1>
<label for="operation">Select Operation:</label>
<select id="operation" onchange="toggleForm()">
    <option disabled selected value> select an option </option>
    <option value="create">Create</option>
    <option value="update">Update</option>
</select>

<div id="createForm" style="display: none;">
    <h2>Create Location</h2>
    <form method="POST" action="locations/create">
        <label for="location_name">Name:</label>
        <input type="text" id="location_name" name="name" required>
        <label for="location_is_indoors">Is Indoors:</label>
        <input type="checkbox" id="location_is_indoors_create" name="is_indoors">
        <label for="light_category">Light Category:</label>
        <select id="light_category" name="light_category" required>
            {{#each pickerOptions.lightCategoriesPickerOptions}}
            {{#if this}}
                <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Create</button>
    </form>
</div>

<div id="updateForm" style="display: none;">
    <!-- Update Entry Form -->
    <h2>Update Entry</h2>
    <form method="POST" action="locations/update">
        <select id="location_id_select" name="location_id" required>
            <option disabled selected value>Location ID</option>
            {{#each entries}}
            {{#if this.location_id}}
            <option value="{{this.location_id}}">{{this.location_id}}</option>
            {{/if}}
            {{/each}}
        </select>
        <label for="location_name">Name:</label>
        <input type="text" id="location_name" name="name" required>
        <label for="location_is_indoors">Is Indoors:</label>
        <input type="checkbox" id="location_is_indoors_update" name="is_indoors">
        <label for="light_category">Light Category:</label>
        <select id="light_category" name="light_category" required>
            {{#each pickerOptions.lightCategoriesPickerOptions}}
            {{#if this}}
                <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Update</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Is Indoors</th>
            <th>Light Category</th>
        </tr>
    </thead>
    <tbody>
        {{#each entries}}
        {{#if this.location_id}}
        <tr data-value={{this.location_id}}>
            <td>{{this.location_id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.is_indoors}}</td>
            <td>{{lookup @root.pickerOptions.lightCategoriesPickerOptions this.light_category}}</td>
            <td>
                <form method="POST" action="locations/delete">
                    <input style="display: none;" type="number" name="deleteId" value={{this.location_id}}>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>

<script>
    function toggleForm() {
        const operation = document.getElementById('operation').value;
        document.getElementById('createForm').style.display = operation === 'create' ? 'block' : 'none';
        document.getElementById('updateForm').style.display = operation === 'update' ? 'block' : 'none';
    }
    document.getElementById('updateForm').addEventListener('submit', function(event) {
        var checkbox = document.getElementById('location_is_indoors_update');
        checkbox.value = checkbox.checked ? '1' : '0';
        checkbox.checked = true;
    });
    document.getElementById('createForm').addEventListener('submit', function(event) {
        var checkbox = document.getElementById('location_is_indoors_create');
        checkbox.value = checkbox.checked ? '1' : '0';
        checkbox.checked = true;
    });
</script>
