<link rel="stylesheet" href="/css/form.css">

<h1>{{title}}</h1>

<div class = "operationPicker">{{>operationPicker}}</div>

<div id="createForm" style="display: none;">
    <h2>Create Plant</h2>
    <form method="POST" action="plants/create">
        <label for="plant_name">Name:</label>
        <input type="text" id="plant_name" name="name" required>
        <label for="date_added">Date:</label>
        <input type="date" id="date_added" name="date_added" required>
        <label for="locations">Location:</label>
        <select id="locations" name="locations_location_id">
            {{#each pickerOptions.locationPickerOptions}}
            {{#if this}}
                <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Create</button>
    </form>
</div>

<div id="updateForm" style="display: none;">
    <h2>Update Entry</h2>
    <form method="POST" action="plants/update">
        <select id="plant_id_select" name="plant_id" required>
            <option disabled selected value> Update ID</option>
            {{#each entries}}
            {{#if this.plant_id}}
            <option value="{{this.plant_id}}">{{this.plant_id}}</option>
            {{/if}}
            {{/each}}
        </select>
        <label for="plant_name">Name:</label>
        <input type="text" id="plant_name" name="name" required>
        <label for="date_added">Date:</label>
        <input type="date" id="date_added" name="date_added" required>
        <label for="locations">Location:</label>
        <select id="locations" name="locations_location_id" required>
            {{#each pickerOptions.locationPickerOptions}}
            {{#if this}}
                <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Update</button>
        </select>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Added</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {{#each entries}}
        {{#if this.plant_id}}
        <tr data-value={{this.plant_id}}>
            <td>{{this.plant_id}}</td>
            <td>{{this.name}}</td>
            <td>{{formatDate this.date_added}}</td>
            <td>{{lookup @root.pickerOptions.locationPickerOptions this.locations_location_id}}</td>
            <td>
                <form method="POST" action="plants/delete">
                    <input style="display: none;" type="number" name="deleteId" value={{this.plant_id}}>
                    <button type="submit" class="submitButton">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>
