<link rel="stylesheet" href="/css/form.css">
<h1>{{title}}</h1>
<label for="operation">Select Operation:</label>
<select id="operation" onchange="toggleForm()">
    <option disabled selected value> select an option </option>
    <option value="create">Create</option>
    <option value="update">Update</option>
</select>

<div id="createForm" style="display: none;">
    <!-- Create Entry Form -->
    <!---
        Formation of input type range taken from https://www.w3schools.com/html/html_form_input_types.asp
        Accessed 5/25/2024
    -->

    <!---Display and update of value on input type range taken from https://stackoverflow.com/questions/10004723/html5-input-type-range-show-range-value
    Accessed 6/7/2024-->
    <h2>Create Update</h2>
    <form method="POST" action="updates/create">
        <label for="health_score">Health Score (0-10): <output id = "healthscore">5</output> </label>
        <input type="range" id="health_score" name="health_score" min="0" max="10" oninput="healthscore.value=health_score.value" required>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment">
        <label for="image_location">Image Location (url):</label>
        <input type="url" id="image_location" name="image_location">
        <label for="update_date">Date:</label>
        <input type="date" id="update_date" name="update_date" required>
        <label for="update_date">Plant:</label>
        <select id="plants" name="plants_plant_id" required>
            {{#each pickerOptions.plantPickerOptions}}
            {{#if this}}
                <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Create</button>
    </form>
</div>

<div id="updateForm" style="display: none;">
    <!-- Update Entry Form -->
    <h2>Update Entry</h2>
    <form method="POST" action="updates/update">
        <select id="update_id_select" name="update_id" required>
            <option disabled selected value> Update ID</option>
            {{#each entries}}
            {{#if this.update_id}}
            <option value="{{this.update_id}}">{{this.update_id}}</option>
            {{/if}}
            {{/each}}
        </select>
        <label for="health_score">Health Score (0-10):</label>
        <input type="range" id="health_score" name="health_score" min="0" max="10" required>
        <label for="comment">Comment:</label>
        <input type="text" id="comment" name="comment" required>
        <label for="image_location">Image Location (url):</label>
        <input type="url" id="image_location" name="image_location">
        <label for="update_date">Date:</label>
        <input type="text" id="update_date" name="update_date" required>
        <label for="update_date">Plant:</label>
        <select id="plants" name="plants_plant_id" required>
            {{#each pickerOptions.plantPickerOptions}}
            {{#if this}}
                <option value={{@key}}>{{this}}</option>
                {{/if}}
            {{/each}}
        </select>
        <button type="submit">Update</button>
        </select>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Health Score</th>
            <th>Comment</th>
            <th>Image</th>
            <th>Update Date</th>
            <th>Plant</th>
        </tr>
    </thead>
    <tbody>
        {{#each entries}}
        {{#if this.update_id}}
        <tr data-value={{this.update_id}}>
            <td>{{this.update_id}}</td>
            <td>{{this.health_score}}</td>
            <td>{{this.comment}}</td>
            <td>{{#if this.image_location}}
                <img src="{{this.image_location}}"></td>
                {{/if}}
            <td>{{formatDate this.update_date}}</td>
            <td>{{lookup @root.pickerOptions.plantPickerOptions this.plants_plant_id}}</td>
            <td>
                <form method="POST" action="updates/delete">
                    <input style="display: none;" type="number" name="deleteId" value={{this.update_id}}>
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>

<script>
    function toggleForm() {
        const operation = document.getElementById('operation').value;
        document.getElementById('createForm').style.display = operation === 'create' ? 'block' : 'none';
        document.getElementById('updateForm').style.display = operation === 'update' ? 'block' : 'none';
    }
</script>